.select2-container--default .select2-selection--single {
    border: 1px solid #E3E3E3!important;
}
/* Select JS */
/* For Selector */
.select2-selection--single{
    text-align: center;
    outline: none !important;
    border-radius: 30px !important;
    border: 1px solid #E3E3E3;
    background-color: #FFFFFF;
    padding: 0px 16px!important;
    height: 35px!important;
    padding-right: 12px!important;
}

.select2-selection--single > .select2-selection__rendered {
    padding-top: 8px!important;
    color: #212121!important;
    font-family: Roboto!important;
    font-size: 14px!important;
    letter-spacing: 0!important;
    line-height: 16px!important;
    text-align: center!important;
}

.select2-container--default.select2-container--focus .select2-selection--single {
    border: 1px solid #E3E3E3;
}


/* For Drop down icon */
.select2-selection__arrow {
    top:3px !important;
    margin-right: 4px!important;
}

/* For Result Option Holder */
.select2-dropdown,
.select2-dropdown .select2-dropdown--below {
    border: none!important;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
    padding: 4px 11px 4px 0px;
    color: #424242;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

/* For Result Options */
.select2-results__option {
    padding: 0px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-results__options .select2-results__option[aria-selected=true]:not(.select2-results__message) {
    font-size: 14px;
    line-height: 18px;
    padding: 4px;
    padding-left: 20px;
    font-family: Roboto;
    background-color: #5897fb;
    color : #ffffff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #5897fb66!important;
    
}

.select2-results__options .select2-results__option {
    font-size: 14px;
    line-height: 18px;
    padding: 4px;
    padding-left: 20px;
    font-family: Roboto;
    background-color: white;
    color : #424242;
}